# Arquivos de referência/scraping (Ad Library, transparência de anúncios)
consulting/proposal/34-embelleze/files/Ad Library_files/
consulting/proposal/34-embelleze/files/Ad Library-2_files/
consulting/proposal/34-embelleze/files/Ad Library-3_files/
consulting/proposal/34-embelleze/files/Central de transparência de anúncios-1_files/
consulting/proposal/34-embelleze/files/Central de transparência de anúncios-2_files/
consulting/proposal/34-embelleze/files/Central de transparência de anúncios-3_files/
consulting/proposal/34-embelleze/files/Estratégia de Fortalecimento do Canal Digital Embelleze_files/
consulting/proposal/34-embelleze/files/Ad Library.html
consulting/proposal/34-embelleze/files/Ad Library-2.html
consulting/proposal/34-embelleze/files/Ad Library-3.html
consulting/proposal/34-embelleze/files/Central de transparência de anúncios-1.html
consulting/proposal/34-embelleze/files/Central de transparência de anúncios-2.html
consulting/proposal/34-embelleze/files/Central de transparência de anúncios-3.html
consulting/proposal/34-embelleze/files/Estratégia de Fortalecimento do Canal Digital Embelleze.html
